
<script>
    const alertSuccess = () => {
        alert(`Character has been added to selected ship.`);
    }

    const deleteSuccess = (ShipID, CharacterID) => {
        alert(`Character and their ship have been deleted`);
    }
</script>

<h1>Add Character To Ship</h1>
<div>
    <table id="characterShip" class="table table-striped" style="width: 60rem; margin:auto; margin-top: 2rem; margin-bottom: 2rem;">
        <thead>
            <th>Name</th>
            <th>Ship</th>
            {{!-- <th>Model</th> --}}
        </thead>
        <tbody>
            {{#each characterShip}}
                <tr>
                    <td>{{Name}}</td>
                    <td>{{Ship_Name}}</td>
                    {{!-- <td>{{Model}}</td> --}}
                    <td><button onclick="deleteCharacterShip({{ShipID}}, {{CharacterID}}); deleteSuccess({{ShipID}}, {{CharacterID}})">Delete</button></td>
                    {{!-- <td><a href="add_character_ship/edit/ship/{{ShipID}}/character/{{CharacterID}}"><button>Update</button></a></td> --}}
                </tr>
            {{/each}}
        </tbody>
        <form id="addCharacterShip" action="/add_character_ship" method="POST" onsubmit="alertSuccess()">
            Character: <select name="CharacterID">
                {{#each characters}}
                    <option value="{{CharacterID}}">{{Name}}</option>
                {{/each}}
            </select>

            Ships: <select name="ShipID">
                {{#each ships}}
                    <option value="{{ShipID}}">{{Ship_Name}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Submit" />
        </form>
    </table>
</div>