<script>
    const alertSuccess = () => {
        alert(`Character has been added.`);
    }

    const deleteSuccess = (CharacterID) => {
      alert(`Character has been deleted`);
    }
</script>

<h1>Star Wars Characters</h1>
<div>
<table class="table table-striped" style="width: 60rem; margin:auto; margin-top: 2rem; margin-bottom: 2rem;">
    <thead>
        <th>Name</th>
        <th>Birth Date</th>
        <th>Gender</th>
        <th>Species</th>
        <th>Height</th>
        <th>Homeworld</th>
    </thead>
    <tbody>
        {{#each characters}}
        <tr>
            <td>{{Name}}</td>
            <td>{{Birthdate}}</td>
            <td>{{Gender}}</td>
            <td>{{Species}}</td>
            <td>{{Height}}</td>
            <td>{{homeworld}}</td>
            <td><button onclick="deleteCharacter({{CharacterID}}); deleteSuccess({{CharacterID}})">Delete</button></td>
            <td><a href="/characters/{{CharacterID}}"><button>Update</button></a></td>
        </tr>
        {{/each}}
    </tbody>
    <form style="width: 60 rem; margin:auto; margin-top: 2rem;" id="addCharacter" action="/characters" method="POST" onsubmit="alertSuccess()">
    Name: <input type="text" name="Name"><br>
    Birth Date: <input type="text" name="Birthdate"><br>
    Gender: <input type="text" name="Gender"><br>
    Species: <input type="text" name="Species"><br>
    Height: <input type="text" name="Height"><br>
    Homeworld: <select name="WorldID"> 
      {{#each homeworlds}}
        <option value="{{WorldID}}">{{Name}}</option>
      {{/each}}
    </select>
    <a href="/homeworlds">Not Listed?</a><br><br>
    <input type="submit" value="Submit">
    </form>
</table>
</div>