
<script>
    const deleteSuccess = (FilmID, CharacterID) => {
      alert(`Character has been deleted from the film`);
    }
</script>


<h1>Star Wars Characters in "{{film.Name_Of_Movie}}"</h1>
<div>
  <table id="characterFilm" class="table table-striped" style="width: 60rem; margin:auto; margin-top: 2rem; margin-bottom: 2rem;">
      <thead>
          <th>Name</th>
          <th>Birth Date</th>
          <th>Gender</th>
          <th>Species</th>
          <th>Height</th>
          <th>Homeworld</th>
      </thead>
      <tbody>
          {{#each characterFilms}}
          <tr>
              <td>{{Name}}</td>
              <td>{{Birthdate}}</td>
              <td>{{Gender}}</td>
              <td>{{Species}}</td>
              <td>{{Height}}</td>
              <td>{{homeworld}}</td>
              <td><button onclick="deleteCharacterFilm({{FilmID}}, {{CharacterID}}); deleteSuccess({{FilmID}}, {{CharacterID}})">Delete</button></td>
          </tr>
          {{/each}}
      </tbody>
  </table>

    <p>
      Don't See a Character? <a href="/add_characters_in_films">Add Character To Film</a>
    </p>
    
</div>