
<script>
    const alertSuccess = () => {
        alert(`Movie has been added.`);
    }

    const deleteSuccess = (FilmID) => {
      alert(`Movie has been deleted`);
    }
</script>


<h1>Star Wars Films</h1>
{{!-- <a href="/characters_in_films">See Characters in Films</a> --}}
<div>
<table class="table table-striped" style="width: 60rem; margin:auto; margin-top: 2rem; margin-bottom: 2rem;">
    <thead>
        <th>Name</th>
        <th>Release Year</th>
        <th>IMDB Rating</th>
        <th>Director</th>
    </thead>
    <tbody>
        {{#each Films}}
        <tr>
            <td>
                <div class="tooltip">
                    <a href="/characters_in_films/{{FilmID}}">{{Name_Of_Movie}}</a>
                    <span class="tooltiptext">Click to Show Characters in {{Name_Of_Movie}}</span>
                </div>
            </td>
            <td>{{Year_Released}}</td>
            <td>{{IMDB_Rating}}</td>
            <td>{{Directed_By}}</td>
            <td><button onclick="deleteFilm({{FilmID}}); deleteSuccess({{FilmID}})">Delete</button></td>
            <td><a href="/films/{{FilmID}}"><button>Update</button></a></td>
        </tr>
        {{/each}}
    </tbody>
    <form style="width: 60 rem; margin:auto; margin-top: 2rem;" id="addFilm" action="/films" method="POST" onsubmit="alertSuccess()">
    Name of Movie: <input type="text" name="Name_Of_Movie"><br>
    Release Year: <input type="text" name="Year_Released"><br>
    IMDB Rating: <input type="text" name="IMDB_Rating"><br>
    Director:  <input type="text" name="Directed_By"><br>
    <input type="submit" value="Submit">
    </form>
</table>
</div>