<script>
    const alertSuccess = () => {
        alert(`Homeworld has been added.`);
    }

    const deleteSuccess = (WorldID) => {
        alert(`Homeworld has been deleted`);
    }
</script>


<h1>Star Wars Homeworlds</h1>
<div>
<table class="table table-striped" style="width: 60rem; margin:auto; margin-top: 2rem; margin-bottom: 2rem;">
    <thead>
        <th>Homeworld</th>
        <th>Population</th>
        <th>Climate</th>
        <th>Terrain</th>
    </thead>
    <tbody>
        {{#each homeworlds}}
        <tr>
            <td>{{Name}}</td>
            <td>{{Population}}</td>
            <td>{{Climate}}</td>
            <td>{{Terrain}}</td>
            <td><button onclick="deleteHomeworld({{WorldID}}); deleteSuccess({{WorldID}})">Delete</button></td>
            <td><a href="/homeworlds/{{WorldID}}"><button>Update</button></a></td>
        </tr>
        {{/each}}
    </tbody>
    <form style="width: 60 rem; margin:auto; margin-top: 2rem;" id="addHomeworld" action="/homeworlds" method="POST" onsubmit="alertSuccess()">
    Homeworld Name: <input type="text" name="Name"><br>
    Population: <input type="text" name="Population"><br>
    Climate: <input type="text" name="Climate"><br>
    Terrain: <input type="text" name="Terrain"><br>
    <input type="submit" value="Submit">
    </form>
</table>
</div>