<h1>Results</h1>
{{#if character.length}}
<table class="results-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Birthdate</th>
            <th>Gender</th>
            <th>Species</th>
            <th>Height</th>
        </tr>
    </thead>
    <tbody>
        {{#each character}}
        <tr>
            <td>{{Name}}</td>
            <td>{{Birthdate}}</td>
            <td>{{Gender}}</td>
            <td>{{Species}}</td>
            <td>{{Height}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p> No Characters Found</p>
{{/if}}