<h1>Results</h1>
{{#if character.length}}
<table class="results-table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
        {{#each character}}
        <tr>
            <td>{{first_name}}</td>
            <td>{{last_name}}</td>
            <td>{{birth_date}}</td>
            <td>{{gender}}</td>
            <td>{{species}}</td>
            <td>{{height}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<p> No Characters Found</p>
{{/if}}