<style>
    input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h1, h2{
    text-align: center;
}
button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
table{
    text-align: center;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

h2 {
    text-align: center;
}

</style>

<script>
    const alertSuccess = () => {
        alert(`Ship has been added.`);
    }

    const deleteSuccess = (ShipID) => {
        alert(`Ship has been deleted`);
    }
</script>


<h1>Star Wars Ships</h1>
<h2><a href="/">Home</a></h2>
<h2><a href="/add_character_ship">Add Character To Ship</a></h2>
<div>
<table class="table table-striped" style="width: 60rem; margin:auto; margin-top: 2rem; margin-bottom: 2rem;">
    <thead>
        <th>Ship Name</th>
        <th>Crew Size</th>
        <th>Length</th>
        <th>Model</th>
    </thead>
    <tbody>
        {{#each ships}}
        <tr>
            <td>{{Name}}</td>
            <td>{{Crew_Size}}</td>
            <td>{{Length}}</td>
            <td>{{Model}}</td>
            <td><button onclick="deleteShip({{ShipID}}); deleteSuccess({{ShipID}})">Delete</button></td>
            <td><a href="/ships/{{ShipID}}"><button>Update</button></a></td>
        </tr>
        {{/each}}
    </tbody>
    <form style="width: 60 rem; margin:auto; margin-top: 2rem;" id="addShip" action="/ships" method="POST" onsubmit="alertSuccess()">
        Ship Name: <input type="text" name="Name"><br>
        Crew Size: <input type="text" name="Crew_Size"><br>
        Length: <input type="text" name="Length"><br>
        Model: <input type="text" name="Model"><br>
        <input type="submit" value="Submit">
    </form>
</table>
</div>