
<style>
    input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h1{
    text-align: center;
}
button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>

<script>
    const alertSuccess = () => {
        alert(`{{homeworld.Name}} has been updated.`);
    }
</script>

<h1>Update {{homeworld.Name}}</h1>
<div>
<form id="updateHomeworld" action="/homeworlds" method="post">
    Name: <input type="text" name="Name" value="{{homeworld.Name}}"><br>
    Population: <input type="text" name="Population" value="{{homeworld.Population}}"><br>
    Climate: <input type="text" name="Climate" value="{{homeworld.Climate}}"><br>
    Terrain: <input type="text" name="Terrain" value="{{homeworld.Terrain}}"><br>
</form>
<button onclick="updateHomeworld({{homeworld.WorldID}}); alertSuccess()">Update</button>
<a href="/homeworlds"><button>Cancel</button></a>
</div>