
<script>
    const alertSuccess = () => {
        alert(`{{ship.Name}} has been updated.`);
    }
</script>

<h1>Update {{ship.Name}}</h1>
<div>
<form id="updateShip" action="/ships" method="post">
    Name: <input type="text" name="Name" value="{{ship.Name}}"><br>
    Crew Size: <input type="text" name="Crew_Size" value="{{ship.Crew_Size}}"><br>
    Length: <input type="text" name="Length" value="{{ship.Length}}"><br>
    Model: <input type="text" name="Model" value="{{ship.Model}}"><br>
</form>
<button onclick="updateShip({{ship.ShipID}}); alertSuccess()">Update</button>
<a href="/ships"><button>Cancel</button></a>
</div>