<style>
    input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h1{
    text-align: center;
}
button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>

<h1>Update {{film.name_of_movie}}:</h1>
<div>
<form id="updateFilm" action="/films" method="post">
    Movie Name: <input type="text" name="name_of_movie" value="{{film.name_of_movie}}"><br>
    Release Year: <input type="text" name="year_released" value="{{film.year_released}}"><br>
    IMDB Rating: <input type="text" name="imdb_rating" value="{{film.imdb_rating}}"><br>
    Director: <input type="text" name="directed_by" value="{{film.directed_by}}"><br>
</form>
<button onclick="updateFilm({{film.film_id}})">Update</button>
</div>