<div>
    <form id="updateCharacterShip" action="/add_character_ship" method="post">
        Ships: <select name="ShipID">
            {{#each ships}}
                <option value="{{ShipID}}" selected>{{Ship_Name}}</option>
            {{/each}}
        </select>

        Character: <select name="CharacterID">
            {{#each characters}}
                <option value="{{CharacterID}}" selected>{{Name}}</option>
            {{/each}}
        </select>
      <button onclick="updateCharacterShip({{cs.ShipID}},{{cs.CharacterID}})">Update</button>
      <a href="/add_character_ship"><button>Cancel</button></a>
    </form>
</div>