<script>
    const alertSuccess = () => {
        alert(`{{film.Name_Of_Movie}} has been updated.`);
    }
</script>

<h1>Update {{film.Name_Of_Movie}}:</h1>
<div>
<form id="updateFilm" action="/films" method="post">
    Movie Name: <input type="text" name="Name_Of_Movie" value="{{film.Name_Of_Movie}}"><br>
    Release Year: <input type="text" name="Year_Released" value="{{film.Year_Released}}"><br>
    IMDB Rating: <input type="text" name="IMDB_Rating" value="{{film.IMDB_Rating}}"><br>
    Director: <input type="text" name="Directed_By" value="{{film.Directed_By}}"><br>
</form>
<button onclick="updateFilm({{film.FilmID}}); alertSuccess()">Update</button>
</div>