
<style>
    input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

h1{
    text-align: center;
}
button {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
</style>

<h1>Update {{character.First_Name}} {{character.Last_Name}}</h1>
<div>
<form id="updateCharacter" action="/characters" method="post">
    First name: <input type="text" name="First_Name" value="{{character.First_Name}}"><br>
    Last name: <input type="text" name="Last_Name" value="{{character.Last_Name}}"><br>
    Birth Date: <input type="text" name="Birthdate" value="{{character.Birthdate}}"><br>
    Gender: <input type="text" name="Gender" value="{{character.Gender}}"><br>
    Speices: <input type="text" name="Species" value="{{character.Species}}"><br>
    Height: <input type="text" name="Height" value="{{character.Height}}"><br>
</form>
<button onclick="updateCharacter({{character.CharacterID}})">Update</button>
</div>