<script>
    const alertSuccess = () => {
        alert(`{{character.Name}} has been updated.`);
    }
</script>


<h1>Update {{character.Name}}</h1>
<div>
<form id="updateCharacter" action="/characters" method="post">
    Name: <input type="text" name="Name" value="{{character.Name}}"><br>
    Birth Date: <input type="text" name="Birthdate" value="{{character.Birthdate}}"><br>
    Gender: <input type="text" name="Gender" value="{{character.Gender}}"><br>
    Speices: <input type="text" name="Species" value="{{character.Species}}"><br>
    Height: <input type="text" name="Height" value="{{character.Height}}"><br>
    Homeworld: <select name="WorldID">
      {{#each homeworlds}}
        <option value="{{WorldID}}" selected>{{Name}}</option>
      {{/each}}
    </select>
</form>
<button onclick="updateCharacter({{character.CharacterID}}); alertSuccess()">Update</button>
<a href="/characters"><button>Cancel</button></a>
</div>
